<p><strong>Charities</strong></p>
<ul>
<li><a href="./charities/ibj.html">International Bridges to Justice</a></li>
<li><a href="./charities/hcp.html">Himalayan Cataract Project, Inc.</a></li>
<li><a href="./charities/greenmap.html">Green Map System</a></li>
</ul>