<h1>Green Map System</h1>
<p>Engaging communities worldwide to chart a sustainable future - for all of us! We empower a diverse perspective-changing movement mapping local natural, social and cultural resources in 950+ diverse cities, villages and neighborhoods in over 65 countries. Developing local sustainability networks since 1995, Green Map System expands the demand for healthy, green choices with our adaptable, experiential and interactive mapmaking resources and universal icons, multilingual websites, workshops and regional hubs.</p>
<p>175 Rivington #1D, NY, USA</p>
<p>Funding: 65316.11</p>
<p>Goal: 85000.00</p>
<p>Approval Date:2007-12-24T11:47:02-05:00</p>
<p>Country:</p>
<ul>
<li>Albania</li>
<li>Australia</li>
<li>Austria</li>
<li>Belgium</li>
</ul>
<p>Themes:</p>
<ul>
<li>Climate Action</li>
<li>Economic Growth</li>
<li>Ecosystem Restoration</li>
<li>Digital Literacy</li>
</ul>
<p><a href="http://www.greenmap.org">http://www.greenmap.org</a></p>
<p><img src="https://www.globalgiving.org/pfil/organ/209/orglogo.jpg" alt="" width="200" height="200" /></p>
<p>Status: Active</p>
<p>Total Projects: 7</p>
<p>Active Projects: 2</p>
<p><a href="https://www.globalgiving.org/pfil/39557/projdoc.pdf">https://www.globalgiving.org/pfil/39557/projdoc.pdf</a></p>
<p>Edison said, "we can't solve problems with the same kind of thinking we used when we created them". We are experienced and understand how to engage and empower people with capacities that support local sustainability and regenerative culture. Moreover, Green Map System is now open source and is partnering creatively to engage urban dwellers in building a climate-smart future. NYC, our home community, has always been our testing ground for new ideas that often become models for other communities.</p>
<p><a href=" https://www.globalgiving.org/pfil/1965/projdoc.pdf"> https://www.globalgiving.org/pfil/1965/projdoc.pdf</a></p>
<p>An antidote to despair and apathy, Green Map gives people a new perspective on their own hometown's assets and challenges. Guiding the way to better choices, each edition - whether made by city officials, nonprofits, youth or everyday citizens - is a powerful platform for social change. We re-launched our website in late 2018. Its stories and open toolkit provide the means to build capacity, skills and collaboration for a more resilient, healthy, just, democratic and economically sound world.</p>