<h1>Himalayan Cataract Project, Inc.</h1>
<p>HCP Cure Blindness (cureblindness.org) strives to eradicate preventable and curable blindness through high-quality ophthalmic care, education and the establishment of a world class eye care infrastructure.</p>
<p>PO Box 55, Waterrbury, VT, USA</p>
<p>Funding: 88331.36</p>
<p>Goal: 100000.00</p>
<p>Approval Date: 2004-07-29T07:54:22-04:00</p>
<p>Country:</p>
<ul>
<li>Bhutan</li>
<li>China</li>
<li>Ethiopia</li>
<li>Ghana</li>
</ul>
<p>Themes:</p>
<ul>
<li>Physical Health</li>
</ul>
<p><a href="http://www.cureblindness.org">http://www.cureblindness.org</a></p>
<p><img src="https://www.globalgiving.org/pfil/organ/291/orglogo.png" alt="" width="200" height="200" /></p>
<p>Status: Active</p>
<p>Total Projects: 4</p>
<p>Active Projects: 1</p>
<p><a href="https://www.globalgiving.org/pfil/736/projdoc.pdf">https://www.globalgiving.org/pfil/736/projdoc.pdf</a></p>
<p>HCP Cure Blindness has developed highly-efficient approaches in each of the critical areas of surgery, training and education. Through high-volume surgical campaigns, thousands of people regain their sight each year and many more are screened for preventable eye-related diseases. We train local eye care teams to build sustainable infrastructure to maintain quality eye care in remote regions indefinitely and procure equipment to be sure people in remote areas are receiving the best possible care.</p>