<h1>International Bridges to Justice</h1>
<p>In recognition of the fundamental principles of the United Nations Universal Declaration of Human Rights, International Bridges to Justice, as a non-governmental and non-profit organization, is dedicated to ensuring the basic legal rights of ordinary citizens in developing countries. Specifically, IBJ works to guarantee all citizens the right to competent legal representation, the right to be protected from cruel and unusual punishment, and the right to a fair trial<img /></p>
<p>https://www.globalgiving.org/pfil/organ/249/orglogo.jpg</p>
<p>Address: 64 rue de Monthoux, Geneva, Switzerland</p>
<p>Funding: 2295.00</p>
<p>Goal: 90000.00</p>
<p>Approval Date: 2008-08-22T15:59:48-04:00</p>
<p>Country:</p>
<ul>
<li>Afghanistan</li>
<li>Albania</li>
<li>Argentina</li>
<li>Azerbaijan</li>
</ul>
<p>Themes:</p>
<ul>
<li>Peace and Reconciliation</li>
<li>Education</li>
<li>Gender Equality</li>
<li>Justice and Human Rights</li>
<li>LGBTQIA+ Equality</li>
<li>COVID-19</li>
</ul>
<p><a href="http://www.ibj.org">http://www.ibj.org</a></p>
<p><img src="https://www.globalgiving.org/pfil/organ/249/orglogo.jpg" alt="" width="200" height="200" /></p>
<p>Status: Active</p>
<p>Total Projects: 9</p>
<p>Active Projects: 1</p>
<p><a href="https://www.ibj.org/programs/youth-justice-initiative/about/">https://www.ibj.org/programs/youth-justice-initiative/about/</a></p>
<p>IBJ is a non-profit organization that gives the world's most marginalized, including children, early + free access to a lawyer. For example, 14 year old "Yash" was arrested by police for stealing fruit from a tree. To force a confession, police suspended him by his fingers, causing irreparable damage. IBJ's Juvenile Justice project will ensure that in Burundi, and Cambodia 250 boys + girls like Yash will have a lawyer's protection. Access to Justice saves!</p>